<table class="table">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ID</td>
      <td>{{employee.id}}</td>
    </tr>
    <tr>
      <td>username</td>
      <td>{{employee.username}}</td>
    </tr>
    <tr>
      <td>createdAt</td>
      <td>{{employee.createdAt | date}}</td>
    </tr>
  </tbody>
</table>

<a class="btn btn-primary" [routerLink]="['overview']">Overview</a>
<a class="btn btn-default" [routerLink]="['projects']">Projects</a>
<router-outlet></router-outlet>
